DISCORD_TOKEN=YOUR_BOT_TOKEN
OWNER_ID=YOUR_DISCORD_USER_ID

PREFIX=>

MEMBER_TEST_MODE=true

SERVER_INVITE_URL=https://discord.gg/TW9dTu7YKS

MAX_TEST_CHANNELS=100
MAX_TEST_ROLES=1

MESSAGE_DELAY=1500

MENTION_MODE=@everyone . @here
